@CHARSET "UTF-8";

html {
	box-sizing: border-box;
	height: 100%;
}
*, *:before, *:after {
	box-sizing: inherit;
}

body {
	background-color: #000;
	color: #ccc;
	min-height: 98%;
	position: relative;
}

/* scrollbars style*/
::-webkit-scrollbar {
    width: 12px;
}
 
/* Track */
::-webkit-scrollbar-track {
    -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3); 
    -webkit-border-radius: 10px;
    border-radius: 10px;
}
 
/* Handle */
::-webkit-scrollbar-thumb {
    -webkit-border-radius: 10px;
    border-radius: 10px;
    background: rgba(255,150,70,0.8); 
    -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.5); 
}
::-webkit-scrollbar-thumb:hover {
	background: rgba(255,150,70,0.9);
}
::-webkit-scrollbar-thumb:window-inactive {
	background: rgba(255,0,0,0.4); 
}
/* */

section {
	border: 0px solid #ccc;
	min-height: 50px;
}

.menubar {
	border: 1px solid #fcc;
	height: 60px;
}

.sidebar {
	position: absolute;
	width: 300px;
	top: 60px;
	bottom: 5px;
	background-color: #222;
	overflow: hidden;
	padding-left: 20px;
	font-family: 'Open Sans';
}
.sidebar_left {
	border: 1px solid #ccf;
	left: 0px;
}
.sidebar_right {
	border: 0px solid #cfc;
	right: 0px;
	padding: 10px;
	width: 500px;
}

.address, .hex_header, .hex_data, .hex_text, .hex_info {
	font-family: 'Source Code Pro','Courier New',Consolas,Menlo,'PT Mono',monospace;
	font-size: 14px;
	line-height: 18px;
	cursor: default;
}

.editor {
	position: absolute;
	border: 1px solid #ff0;
	top: 60px;
	bottom: 5px;
	left: 310px;
	right: 500px;
	background: #333;
	color: #aaa;
	overflow: hidden;
	padding: 5px;
	background-color: #000;
}
.address {
	float: left;
	padding: 28px 10px;
	background: #000;
	text-align: right;
	border: 0px solid dodgerblue;
	font-weight: bold;
}
.address div { padding: 0px 20px; }
.address div:hover { transition: all 0.5s; color: #f70; }
.hex {
	float: left;
	width: 100%;
	height: 95%;
	padding: 0px 0px;
	border: 0px solid #5b9;
	overflow-x: hidden;
	overflow-y: scroll;
}
.hex_header {
	background-color: #000;
	border: 0px solid dodgerblue;
	font-weight: bold;
	width: 1000px;
	padding-bottom: 10px;
	margin-left: 140px;
}
.hex_header > span, .hex_data > span, .hex_text > span, .hex_info > span {
	margin: 0px 2px 0px 2px;
	padding: 0px 3px 0px 2px;
}
.hex_data > span:hover {
	transition: all 0.2s;
	background-color: #FFE0B2;
	color: #f23;
}
.hex_text {
	float: left;
	padding: 0px 20px 0px 5px;
	color: #888;
}
.hex_info {
	float: left;
	padding: 0px 20px 0px 5px;
	color: #888;
}

/* SIDEBAR */
.sidebar_section section {
	border: 0px solid ccc;
	padding-left: 10px;
}
.sidebar_section h2 {
	font-size: 18px;
	color: #ccc;
	margin: 10px;
}

.sidebar_data input {
	background-color: #555;
	border: 1px solid #000;
	color: #fff;
	margin-left: 5px;
	text-align: center;
	width: 100px;
}


.sidebar_span_title {
	display: inline-block;
	width: 80px;
	font-size: 13px;
	font-weight: bold;
	text-align: center;
	border: 0px solid dodgerblue;
}
.sidebar_span_line {
	display: inline-block;
	padding-left: 10px;
	font-size: 12px;
	font-weight: normal;
	border: 0px solid dodgerblue;
	width: 75px;
}
.input_insp {
	background-color: #111;
	border: 0px solid #000;
	color: #fff;
	margin-left: 5px;
	text-align: center;
	width: 75px;
	margin-left: 5px;
}

.known_range_b {
	border: 1px solid #0bf;
	color: #0bf;
}
.known_range_w {
	outline: 1px solid #0fb;
	color: #0fb;
}
.known_range_ws {
	outline: 1px solid #b0f;
	color: #b0f;
}
.known_range_dw {
	outline: 1px solid #fd0;
	color: #fd0;
}

.span_b 	{ color: #0af; }
.span_w 	{ color: #0f0; }
.span_ws 	{ color: #f55; }
.span_dw 	{ color: #ff0; }

.btn_add {
	display: inline-block;
	font-size: 11px;
	font-weight: bold;
	border: 1px solid #ccc;
	width: 30px;
	margin-left: 5px;
	border-radius: 4px;
	text-align: center;
	cursor: pointer;
}

.watcher {
	font-size: 14px;
	border: 1px solid #555;
	position: relative;
}
.watcher_name {
	margin: 0px 0px;
}
.watcher_data {
	margin-left: 15px;
	border: 1px solid #55f;
}
.watcher_del {
	display: inline-block;
	position: absolute;
	top: 0px;
	right: 0px;
	font-size: 15px;
	font-weight: bold;
	line-height: 15px;
	vertical-align: middle;
	border: 0px solid #ccc;
	width: 21px;
	height: 20px;
	border-radius: 4px;
	text-align: center;
	cursor: pointer;
	color: #900;
}
.watcher_del:hover {
	transition: all 0.5s;
	color: #f00;
}
